<div class="list">
    <div class="row w-100">
        <div class="col-md-3 col-sm-3">
            <div class="card mb-2 ml-2 bg-primary">
                <img [src]="getImgURL(movieList.poster_path)" alt="">
                <div class="card-body" style="color: rgb(7, 10, 7);">
                   <div>
                    Title:<span>{{movieList.title}}</span>
                   </div>
                    <div>
                        Rating:<span>{{movieList.vote_average}}</span>
                    </div>
                    <div>
                        Release Date:<span>{{movieList.release_date}} &#9733;&#9733;&#9733;</span>
                    </div>
                    <div>
                        Language:<span>{{movieList.original_language}}</span>
                    </div>
                    <!-- <a routerLink="../top-view/{{movie.id}}" href="#" class="btn btn-outline-success">View</a> -->
                </div>

            </div>
        </div>

    </div>
</div>

<!-- <div *ngFor="let movie of movieList">{{movie.title}}</div>
    <div *ngFor="let movie of movieList">{{movie.vote_average}}</div> -->



