
<nav class="navbar navbar-app" style="position: fixed;z-index: 1;">
    
    <!-- <label class="logo">MovieZ</label> -->
    <a class=" navbar-brand logo" href="">MovieZ</a>
    <ul class="navbar-nav flex-row flex-wrap h-100">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">Home</a>
      </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="popular">Popular Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="list">Upcomming Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="top">Top Rated Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="recommended">Recommended Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="latest">Latest Movies</a>
          </li>
    </ul>
    <button (click)="logout()" class="btn btn-success">Logout</button>
</nav>

<div class="main-container" style="padding-top: 103px" >
    
    <!-- <div *ngFor="let movie of movieList">{{movie.title}}</div> -->
    <router-outlet></router-outlet>
</div>


<!-- <div class="logout">
    <button (click)="logout()" type="btn btn-sucess">Logout</button>
</div> -->



