.main-container {
    background-color: rgb(171, 157, 255);
    height: 100%;
}

nav {
    background-color: #0082e6;
    height: 85px;
    width: 100%;
}
/* label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
} */
.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    /* padding: 0 100px; */
}
nav ul {
    float: right;
    margin-right: 20px;
    margin-top: -8px;
    /* line-height: 80px; */
}
nav ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 20px;
    line-height: 70px;
}
nav ul li a {
    color: white;

}
li:hover {
 background-color: black;
}
a {
    text-decoration: none;
}
/* a:hover {
    background-color: rgb(170, 170, 150);
} */
.checkbtn {
    font-size: 30px;
    color: white;
    line-height: 80px;
}
.navbar-app {
    padding: 0px !important;
}


/* .sdfsdfs{
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
} */





