<div class="list">
    <div class="row w-100">
        <div class="col-md-3" *ngFor="let movie of movieList">
            <div class="card mb-2">
                <img [src]="getImgURL(movie.poster_path)" alt="">
                <div class="card-body" style="color: rgb(0, 0, 0);">
                    <div>
                        Title:<span>{{movie.title}}</span>
                       </div>
                        <div>
                            Rating:<span >{{movie.vote_average}}</span>
                        </div>
                        <div>
                            Release Date:<span>{{movie.release_date}}</span>
                        </div>
                        <div>
                            Language:<span>{{movie.original_language}}</span>
                        </div>

                </div>

            </div>
        </div>

    </div>
</div>

