<!-- <div class="spinner-border" role="status"> -->
    <!-- <span class="sr-only">Loading...</span> -->
  <!-- </div> -->
<div class="list">
    <div class="title" style="color: midnightblue;font-size: 30px;">Popular Movies <span>
            <form class="d-flex">
                <input class="form-control me-2" style="width: 200px; margin-left: 10px;" type="search"
                    placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </span></div><br>
    <div class="row w-100">
        <div class="col-md-3" *ngFor="let movie of movieList">
            <div class="card mb-2 ml-2 bg-primary" style="height: 415px;">
                <img style="height: 55%;" [src]="getImgURL(movie.poster_path)" alt="">
                <div class="card-body" style="color: rgb(0, 0, 0);">
                    <div>
                        Title:<span>{{movie.title}}</span>
                    </div>
                    <div>
                        Rating:<span>{{movie.vote_average}} &#9733;&#9733;&#9733;</span>
                    </div>
                    <div>
                        Release Date:<span>{{movie.release_date}}</span>
                    </div>
                    <div>
                        Language:<span>{{movie.original_language}}</span>
                    </div>
                    <a routerLink="../top-view/{{movie.id}}" href="#" class="btn btn-outline-success">View</a>
                </div>

            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>

    </div>
    <div class="title" style="color: midnightblue;font-size: 30px;">Upcomming Movies</div>
    <div class="row w-100">
        <div class="col-md-3 col-12 col-sm-6" *ngFor="let movie of movieItem">
            <div class="card mb-2 ml-2 bg-primary" style="height: 415px;">
                <img style="height: 55%;" [src]="getImgURL(movie.poster_path)" alt="">
                <div class="card-body" style="color: rgb(0, 0, 0);">
                    <div>
                        Title:<span>{{movie.title}}</span>
                    </div>
                    <div>
                        Rating:<span>{{movie.vote_average}} &#9733;&#9733;&#9733;</span>
                    </div>
                    <div>
                        Release Date:<span>{{movie.release_date}}</span>
                    </div>
                    <div>
                        Language:<span>{{movie.original_language}}</span>
                    </div>
                    <a routerLink="../top-view/{{movie.id}}" href="#" class="btn btn-outline-success">View</a>
                </div>

            </div>
        </div>

    </div>


    <div class="title" style="color: midnightblue;font-size: 30px;">Top Movies</div>
    <div class="row w-100">
        <div class="col-md-3" *ngFor="let movie of movieTop">
            <div class="card mb-2 ml-2 bg-primary" style="height: 415px;">
                <img style="height: 55%;" [src]="getImgURL(movie.poster_path)" alt="">
                <div class="card-body" style="color: rgb(0, 0, 0);">
                    <div>
                        Title:<span>{{movie.title}}</span>
                    </div>
                    <div>
                        Rating:<span>{{movie.vote_average}} &#9733;&#9733;&#9733;</span>
                    </div>
                    <div>
                        Release Date:<span>{{movie.release_date}}</span>
                    </div>
                    <div>
                        Language:<span>{{movie.original_language}}</span>
                    </div>
                    <a routerLink="../top-view/{{movie.id}}" href="#" class="btn btn-outline-success">View</a>
                </div>

            </div>
        </div>

    </div>
</div>